{% extends 'profiles/account_base.jinja2' %}
{% extends 'base.jinja2' %}

{% block title %}
Информация о пользователе
{% endblock %}

{% block middle %}
{% if user.is_authenticated %}

{% block activate_cabinet %}
{% include "profiles/activate_menu.jinja2" %}
{% endblock %}

<div class="Middle Middle_top">
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
<!--========================================== SIDE BAR!  НАЧАЛО   ==========================================-->
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Навигация
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <div class="NavigateProfile">
                            <ul class="menu menu_vt">
                                <li class="menu-item_ACTIVE menu-item">
                                    <a class="menu-link" href="{{ url('profiles:about-user') }}">Личный кабинет</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="{{ url('profiles:update-info', pk=user.pk) }}">Профиль</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="historyorder.html">История заказов</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="{{ url('profiles:change-password') }}">Сменить пароль</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="{{ url('products:home-page') }}">На главную</a>
                                </li>

                                {% if shop != "" %}
                                    <h3 class="header">Информация о магазине</h3>
                                    {% for all_shop in shop %}
                                    <li class="menu-item">
                                        <a class="menu-link" href="{{ url('shops:shop_detail', pk=all_shop.pk)}}">{{ all_shop.name }}</a>
                                    </li>
                                        {# {{ shop }} #}
                                    {% endfor %}
                                {% else %}

                                {% endif %}

{% block account_content %}
<div class="Profile">
    <div class="row-block">
        <h2 class="Section-title">Страница детальной информации</h2>
        <h3 class="header">Здравствуйте, {{ user.username }}</h3>
    </div>
</div>
<div class="row">
<!--========================================== AVATAR!  НАЧАЛО  ==========================================-->
    <div class="row-block">
        {% if user.avatar %}
        <div class="form-group">

            <div class="Profile-avatar">
            <p style="display: flex; just"><img src="{{ user.avatar.url }}" alt="{{ user.avatar.name }}" height="268px"></p>
            </div>
             <div class="form-group">
                <label class="form-label" for="avatar-new">Сменить аватар</label>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="Profile-avatar Profile-avatar_noimg" style="height: 80px;">
                        <label class="Profile-fileLabel" for="avatar-new">
                            <img src="{{ static('assets/img/icons/upload.png') }}" alt="#.png" />
                            Загрузить фото</label>
                        <input type="file" id="avatar-new" class="Profile-file form-input" accept="image/*" name="user_avatar" data-validate="onlyImgAvatar"></label>
                    </div>
                   <button type="submit" class="btn btn_square btn_dark" style="margin-top:80px">Обновить аватар</button>
                </form>
            </div>
        </div>
        {% else %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label" for="avatar">Аватар</label>
                <div class="Profile-avatar Profile-avatar_noimg">
                <label class="Profile-fileLabel" for="avatar">
                    <img src="{{ static('assets/img/icons/upload.png') }}" alt="#.png" />
                    Загрузить фото</label>
                <input type="file" id="avatar" class="Profile-file form-input" accept="image/*" name="user_avatar" data-validate="onlyImgAvatar"></label>
                </div>
            </div>
            <button type="submit" class="btn btn_square btn_dark" style="margin-top:80px">Обновить аватар</button>
        </form>

        {% endif%}

    </div>
<!--========================================== AVATAR!  КОНЕЦ  ==========================================-->
<!--========================================== Информация пользователя пользователя!  НАЧАЛО  ==========================================-->
    <div class="row-block">
        <h3>Информация о пользователе</h3>
        <p class="Cart-title">Никнейм пользователя: {{ user.username }}</p>
        <p class="Cart-title">Имя: {{ user.first_name }}</p>
        <p class="Cart-title">Фамилия: {{ user.last_name }}</p>
        <p class="Cart-title">Email: {{ user.email }}</p>
        <p class="Cart-title">Телефон: {{ user.phone }}</p>
        <p class="Cart-title">Город проживания: {{ user.residence }}</p>
        <p class="Cart-title">Адрес: {{ user.address }}</p>
        <a href="#" class="btn btn_square btn_dark" style="margin-bottom: 15px;">Изменить профиль</a>
    </div>
<!--========================================== Информация пользователя пользователя!  КОНЕЦ  ==========================================-->
</div>
<!--========================================== Раздел история просмотра товаров!  НАЧАЛО  ==========================================-->
    {% if history %}
    <div class="row-block">
            <h2></h2>
            <h3 class="header">Вы смотрели</h3>
    </div>

    <div class="Account-group">
       {% for product in history %}
           {% include "profiles/product_card.jinja2" %}
       {% endfor %}
    </div>
    <a href="{{ url('profiles:browsing_history') }}" class="btn btn_square btn_dark" style="margin-bottom: 15px;">Перейти к полной истории</a>
    {% endif %}
<!--========================================== Раздел история просмотра товаров!  КОНЕЦ  ==========================================-->
{% endblock %}
