{% extends 'base.jinja2' %}

{% block title %}
  About user
{% endblock %}

{% block middle %}
{% if user.is_authenticated %}
<div class="Middle">
    <div class="Section">
        <div class="wrap">
        <h1 class="header">Страница детальной информации</h1>
        <h2 class="header">Детальная информация о пользователе: {{ user.username }}</h2>
        <a href="{{ url('products:home-page') }}" class="btn btn_square btn_dark" style="margin-bottom: 15px;">На главную</a>
        <a href="{{ url('profiles:change-password') }}" class="btn btn_square btn_dark">Изменить пароль</a>
        <div style="display: flex; justify-content: space-around; align-items: center;">

        {% if user.avatar %}
            <p style="display: flex; just">
                <img src="{{ user.avatar.url }}" alt="{{ user.avatar.name }}" width="300" height="300">
            </p>

                <form method="post" enctype="multipart/form-data" style="padding-left: 45px;">
                    {% csrf_token %}
                    <label for="id_user_avatar"></label>
                    <input type="file" class="btn btn_square btn-dark" name="user_avatar" accept="image/*" required="" id="id_user_avatar" style="margin:0; padding: 0;">
                    <button type="submit" class="btn btn_square btn_dark">Update avatar</button>
                </form>


        {% else %}
            <h2 class="header">У пользователя нет аватара</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ update_avatar.as_p() }}
                <button type="submit" class="btn btn_square btn_dark">Update avatar</button>
            </form>
        {% endif%}
                <div style="display: flex; min-height: 350px; flex-direction: column; justify-content: center; min-width: 440px;">
                    <p class="Cart-title">Никнейм пользователя: {{ user.username }}</p>
                    <p class="Cart-title">Имя: {{ user.first_name }}</p>
                    <p class="Cart-title">Фамилия: {{ user.last_name }}</p>
                    <p class="Cart-title">Email: {{ user.email }}</p>
                    <p class="Cart-title">Телефон: {{ user.phone }}</p>
                    <p class="Cart-title">Город проживания: {{ user.residence }}</p>
                    <p class="Cart-title">Адрес: {{ user.address }}</p>
                    <a href="#"  class="btn btn_square btn_dark" style="margin-bottom: 15px;">Изменить профиль</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% else %}
<div class="Middle">
    <div class="Section">
        <div class="wrap">
            <div class="wrapper">
            <h2 style="text-align: center">Система видит вас как анонимный пользователь.</h2>
<!--                <p>Войдите в систему</p>-->
                <button  class="btn btn_square btn_dark">
                    <a href="{{ url('profiles:login') }}">Войти в систему</a>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
