{% extends 'base.jinja2' %}


{% block title %}
Change password page
{% endblock %}

{% block middle %}
{% if user.is_authenticated %}
<div class="Middle Middle_top">
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <!--================================== SIDE BAR - НАЧАЛО ==================================-->
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Навигация
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <div class="NavigateProfile">
                            <ul class="menu menu_vt">
                                <li class="menu-item">
                                    <a class="menu-link" href="{{ url('profiles:about-user') }}">Личный кабинет</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="profile.html">Профиль</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="historyorder.html">История заказов</a>
                                </li>
                                <li class="menu-item_ACTIVE menu-item">
                                    <a class="menu-link" href="{{ url('profiles:change-password') }}">Сменить пароль</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="{{ url('products:home-page') }}">На главную</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!--================================== SIDE BAR - КОНЕЦ ==================================-->
            <div class="Section-content">
                <div class="Profile">
                    <div class="row-block">
                        <h2 class="Section-title">Страница смены пароля для пользователя: {{ user.username }}</h2>
                    </div>
                </div>
                <div class="row">
                    <!--================================== Смена пароля начало ==================================-->
                    <div class="row-block">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p() }}
                            <button type="submit" class="btn btn_square btn_dark">Change password</button>
                        </form>
                    </div>
                    <div class="row-block"></div>
                    <!--================================== Смена пароля конец ===================================-->
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h2>Вы зашли как анонимный пользователь.</h2>
<p>Пожалуйста,
    <a href="{{ url('profiles:login') }}">авторизуйтесь</a> или <a href="{{ url('profiles:register') }}">зарегистрируйтесь.</a>
</p>
{% endif %}
{% endblock %}
