{% extends 'base.jinja2' %}


{% block title %}
Change password page
{% endblock %}


{% block middle %}



<div class="Middle">
    <div class="Section">
        <div class="wrapper" style="width: 400px !important">
            <h1>Password change page</h1>
<!--            <div class="Cards">-->
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p() }}
                    <button type="submit" class="btn btn_square btn_dark">Изменить пароль</button>
                </form>
<!--            </div>-->
        </div>
    </div>
</div>
{% endblock %}
