{% extends "base.jinja2" %}

{% block title -%}
Корзина
{% endblock %}

{% block middle %}
<div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                {% if cart_list %}
                <h2 class="Section-title"> Ваша корзина:</h2>
                <form class="form Cart" method="post">
                    {% csrf_token %}

                    {% for cart in cart_list %}
                     {% include "cart/cart_record.jinja2" %}
                    {% endfor %}
                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">Итого:
                            </strong><span class="Cart-price">200.99$</span>
                        </div>
<!--                        <div class="Cart-block" style="margin: 10px 0px"><input type="submit" name="action" value="Обновить корзину" class="btn btn_success btn_lg" style="width: 100%;  font-size: 120%" href="order.html">-->
                        <div class="Cart-block" style="margin: 10px 0px"><input type="submit" name="action" value="Удалить корзину" class="btn btn_success btn_lg" style="width: 100%;  font-size: 120%" href="order.html">
                        <div class="Cart-block" style="margin: 10px 0px"><input type="submit" name="action" value="Оформить заказ" class="btn btn_success btn_lg" style="width: 100%;  font-size: 120%" href="order.html">
                        </div>
                    </div>
                </form>
                {% else %}
                <h2 class="Section-title"> Корзина пуста.</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
