<div class="Tabs-block" id="reviews">
    <header class="Section-header">
        <h3 class="Section-title">
<!--          не удалять!!! строка для i18n {{_('отзыв')}} {{_('отзывов')}}-->
            {{ ngettext('%(num)d ' + _('отзыв'), '%(num)d ' + _('отзывов'), reviews | length) }}
        </h3>
    </header>
    {% for review in page_obj %}
        <div class="Comments">
            <div class="Comment">
                <div class="Comment-column Comment-column_pict">
                    <div class="Comment-avatar">
                        {# Добавить корректную ссылку к User.avatar #}
                        <img src="{{ review.user.avatar }}" alt="avatar">
                    </div>
                </div>
                <div class="Comment-column">
                    <header class="Comment-header">
                        <div>
                            <strong class="Comment-title"> {{ review.user.username }}
                            </strong><span class="Comment-date"> {{ review.created_at.strftime('%B %d / %Y / %H:%M') }}</span>
                        </div>
                    </header>
                    <div class="Comment-content"> {{ review.review_content }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="paginator" style="display: flex; flex-direction: row; gap: 10px; margin-top: 20px">
        {% if page_obj.has_previous() %}
            <div style="display: flex">
                {% if page_obj.number != 2 %}
                    <a href="?page=1"><span>&laquo; 1</span></a>
                    <span>...</span>
                    <a href="?page={{ page_obj.previous_page_number() }}"> {{ page_obj.previous_page_number() }}</a>
                {% else %}
                    <a href="?page={{ page_obj.previous_page_number() }}">&laquo;{{ page_obj.previous_page_number() }}</a>
                {% endif %}
            </div>
        {% endif%}

        {% if reviews | length() > page_obj.paginator.per_page %}
             <span style="color: #71747a">{{ page_obj.number }}</span>
        {% endif %}

        {% if page_obj.has_next() %}
            <div style="display: flex">
                 {% if page_obj.number == (page_obj.paginator.num_pages - 1) %}
                     <a href="?page={{ page_obj.next_page_number() }}">{{ page_obj.next_page_number() }}&raquo;</a>
                 {% else %}
                     <a href="?page={{ page_obj.next_page_number() }}">{{ page_obj.next_page_number() }}</a>
                     <span>...</span>
                     <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}&raquo;</a>
                {% endif %}
            </div>
        {% endif%}
    </div>

    {% if user.is_authenticated %}
        <header class="Section-header Section-header_product">
            <h3 class="Section-title">{{_("Добавить отзыв")}}
            </h3>
        </header>
        <div class="Tabs-addComment">
            <form class="form" action="#" method="post">
                {% csrf_token %}
                {{ form.as_p() }}
                <div class="form-group">
                    <button class="btn btn_muted" type="submit">{{_("Отправить отзыв")}}
                    </button>
                </div>
            </form>
        </div>

    {% else %}
        <header class="Section-header Section-header_product">
            <div class="">{{_('Чтобы оставить отзыв, вам нужно
                <a href="%(url_profile_login)s!" style="">авторизоваться</a>')|format(url_profile_login = url('profiles:login'))}}
            </div>
        </header>
    {% endif %}
</div>
