{% extends 'profile_app/base.html' %}

{% block title %}
Home page
{% endblock %}

{% block body %}
    <h1>Главная страница маркетплейса</h1>
    {% if user.is_authenticated %}

        <p>Добро пожаловать <b>{{ request.user.username }}</b>.</p>
        <p><a href="{% url 'profile:logout' %}">Выход из аккаунта</a></p>
        <br>
        <p><a href="{% url 'profile:about-user' %}">Личный кабинет</a></p>
        <br>
        <p><a href="{% url 'profile:change-password' %}">Сменить пароль</a></p>
        <br>

        {% if user.is_staff %}
            <p><a href="../admin/">Перейти в админ-панель</a></p>
        {% endif %}

    {% else %}

    <p>Вы просматриваете страницу как "Анонимный" пользователь</p>
    <p><a href="{% url 'profile:login' %}">Войти в аккаунт</a></p>
    <br>
    <p><a href="{% url 'profile:register' %}">Регистрация</a></p>
    {% endif %}
{% endblock %}
