{% extends 'profiles/base.html' %}

{% block title %}
  About me
{% endblock %}


{% block body %}
  <h1>Личный кабинет пользователя</h1>
  {% if user.is_authenticated %}
    <h2>Детали</h2>

    {% if user.profile.avatar  %}
      <p>
        <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_avatar.as_p }}
            <button type="submit">Update avatar</button>
        </form>
      </p>

    {% else %}
    <h3>У пользователя нет "Аватара"</h3>
      <p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_avatar.as_p }}
            <button type="submit">Update avatar</button>
        </form>
      </p>
    {% endif %}
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>City residence: {{ user.profile.residence }}</p>
    <p>Address: {{ user.profile.address }}</p>
    <p>Phone number: {{ user.profile.phone_number }}</p>
    <p>Email: {{ user.email }}</p>
    <ul>
      <li><a href="{% url 'profiles:home-page'%}">На главную</a></li>
      <br>
      <li><a href="{% url 'profiles:logout'%}">Logout</a></li>
      <br>
      <li><a href="{% url 'profiles:change-password'%}">Change password</a></li>
      <br>
    </ul>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
{% endblock %}
