{% extends 'base.jinja2' %}

{% block title %}
hello view page
{% endblock %}

{% block middle %}
<h1>hello view page</h1>

{% for shop in shop_list %}
<ul>
    <li><a href="{{ url('shops:shop_detail', pk=shop.pk) }}">{{ shop.name }}</a></li>
</ul>
{% endfor %}



{% endblock %}
