{% extends 'shops/base_shop.jinja2' %}

{% block title %}
Информация о магазине {{ shop.name }}
{% endblock %}

{% block shop_sidebar %}
  <div class="Section-column">
    <div class="Section-columnSection">
      <header class="Section-header">
        <strong class="Section-title">Навигация</strong>
      </header>
      <div class="Section-columnContent">
        <div class="NavigateProfile">
          <ul class="menu menu_vt">
            <li class="menu-item_ACTIVE menu-item">
              <a class="menu-link" href="{{ url('shops:shop_detail', pk=shop.pk) }}">Информация о магазине</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="{{ url('shops:shop-update', pk=shop.pk) }}">Редактировать профиль</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="{{ url('shops:shop_products', pk=shop.pk) }}">Товары магазина</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block shop_content %}

{% if shop.avatar %}
    <div class="Account-avatar" style="max-width: 400px; max-height: 310px;">
      <img src="{{ shop.avatar.url }}" alt="card.jpg" />
{% else %}
    <div class="Account-avatar" style="max-width: 400px; max-height: 310px;">У магазина нет аватара</div>
{% endif %}
    </div>
<div class="Account-column" style="padding-left:40px;">
  <div class="Account-name">{{ shop.name }}</div>
  {% if request.user.pk==shop.user.pk  %}
  <a class="Account-editLink" href="{{ url('shops:shop-update', pk=shop.pk) }}">Редактировать профиль</a>
  {% endif %}
  <p>Телефон магазина: {{ shop.phone }}</p>
  <p>Email магазина: {{ shop.email }}</p>
  <p>Владелец магазина: {{ shop.user }}</p>
  <p>О магазине: </p>
  <p style="max-width: 600px">{{ shop.about }}</p>

  {# <p><a class="Account-editLink" href="{{ url('shops:offer-create') }}">Создать новый заказ</a></p> #}
</div>


{% endblock %}

<!--user-->
<!--name-->
<!--about-->
<!--phone-->
<!--email-->
<!--avatar-->
<!--products-->
