<div class="Sort">
    <div class="Sort-title">Сортировать по:</div>
    <div class="Sort-variants">
    {% if sort_desc == "on" %}
        {% set add_sort_class="Sort-sortBy_dec" %}
        {% set new_sort_desc="off" %}
    {% else %}
        {% set add_sort_class="Sort-sortBy_inc" %}
        {% set new_sort_desc="on" %}
    {% endif %}
        {% for name, title in sort_items %}
            {% if sort == name %}
                {% set current=True %}
            {% endif %}
            <a class="Sort-sortBy{% if current %} {{ add_sort_class }}{% endif %}"
               name={{ name }}
               target="_self"
               href="{{ request.path }}?page={{ page_obj.number }}&sort={{ name }}&sort_desc={{ new_sort_desc }}{% if filter_params %}&{{ filter_params }}{% endif %}">{{ title }}</a>
        {% endfor %}
    </div>
</div>
