<div class="Section-columnSection">
    <header class="Section-header">
        <strong class="Section-title">Популярные тэги</strong>
    </header>
    <div class="Section-columnContent">
        <div class="buttons">
        <a class="btn btn_default btn_sm" href="#">Видео</a>
        <a class="btn btn_default btn_sm" href="#">Разработка</a>
        <a class="btn btn_default btn_sm" href="#">Игры</a>
        <a class="btn btn_default btn_sm" href="#">Asus</a>
        <a class="btn btn_default btn_sm" href="#">Разработка</a>
        <a class="btn btn_default btn_sm" href="#">Видео</a>
        </div>
    </div>
</div>
